<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>addCategory</title>
</head>
<body>
  {% if category_id %}
  <div class="editor">
      <form method="POST" action="{% url 'blog:edit_category' category_id %}" class="bs-example form-horizontal">
        {% csrf_token %}
        {{ new_category_form }}
        <p>Blog you want to add:</p>
        {% for blog in Blogs %}
          <input type="checkbox" class="custom-control-input" value="{{ blog.title }}" name="blog_title_list">{{ blog.title }}
        {% endfor %}
        <br/>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
  {% else %}
  <div class="editor">
      <form method="POST" action="{% url 'blog:add_category' user_id %}" class="bs-example form-horizontal">
        {% csrf_token %}
        {{ category_form }}
        <p>Blog you want to add:</p>
        {% for blog in Blogs %}
          <input type="checkbox" class="custom-control-input" value="{{ blog.title }}" name="blog_title_list">{{ blog.title }}
        {% endfor %}
        <br/>
        <button type="submit" class="btn btn-success">Add</button>
      </form>
      <p style="color:red">{{ warning }}</p>
  </div>
  {% endif %}
</body>
</html>
