<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags %}
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  {{ form.media }}
  <link rel="stylesheet" href="{% static 'code.css' %}">
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</head>

<body>
  {% if user.id and post_id %}
    <h1 align="center" style="color:Pink">Please edit!</h1>
    <hr/>
    <div class="container">
      <form  method="POST" action="{% url 'blog:edit_post' post_id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ new_category_form }}
        {{ new_post_form | crispy}}
        {{ new_post_form.media }}
        <h3>Please choose your video</h3>
        <input type="file" name="video" multiple="multiple"><br/>
        <button type="submit" class="btn btn-success">Save</button><br/>
      </form>
    </div>
  {% else %}
    <div class="container">
      <h1 align="center" style="color:Pink">Welcome! {{ user.username }}</h1>
      <div>
        <a type="submit" href="{% url 'blog:show' %}">Homepage</a>
      </div>
      <hr/>
      <div class="editor">
        <form method="POST" action="{% url 'blog:post' user.id %}" enctype="multipart/form-data" class="bs-example form-horizontal">
          {% csrf_token %}
          {{ form|safe }}
          <h3>Please choose your video</h3>
          <input type="file" name="video" multiple="multiple"><br/>
          <button type="submit" class="btn btn-success">Submit</button><br/>
        </form>
      </div>
    </div>
  {% endif %}
</body>
</html>