<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Show specific blog</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    .comment-text {margin-bottom: 1.25rem;}
  </style>
  <link rel="stylesheet" type="text/css" href="{% static 'code.css' %}">
</head>

{% load count_likes %}

<body>
  <h1 style="font-family : 'Fira Code', Impact, sans-serif">
    {{ post_detail.title }}
  </h1>
  <p>Author: <span class="badge badge-primary">{{ post_detail.user.username }}</span></p>
  {% for tag in post_detail.tags.all %}
          <a class="mr-1 badge badge-info" data-role="tagsinput" href="{% url 'blog:tag_list' tag.slug %}">#{{ tag }}</a>
        {% endfor %}
  {% if post_detail.category != None %}
    <a href="{% url 'blog:post_by_category' post_detail.category.id %}" class="badge badge-info">Series:  {{ post_detail.category }}</a>
  {% else %}
    <p>Series:{{ post_detail.category }}</p>
  {% endif %}
  
  <div id="blog" class="card">
    <p class="detail_content card-text" id="post">{{ post_detail.text|safe }}</p>
  </div>

  {% for item2 in video %}
    {% if item2.post_id == post_detail.id %}
      <video src="/media/{{ item2.content }}" height="200" width="300" controls></video>
    {% endif %}
  {% endfor %}
  <br/>
  <small>Likes {% get_likes_number post_type_id post_detail.id %}</small>
  <small>Dislikes {% get_dislikes_number post_type_id post_detail.id %}</small>

  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-outline-info">
        <a href="{% url 'post_like' post_detail.id 'like' %}">Like</a>
      </button>
      <button type="button" class="btn btn-sm btn-outline-info">
        <a href="{% url 'post_like' post_detail.id 'dislike' %}">Dislike</a>
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary">
        <a href="{% url 'blog:show' %}">Back</a>
      </button>
      {% if self_user != user_info %}
        <form method="post" action="{% url 'blog:post_detail' post_detail.id %}">
          {% csrf_token %}
          <input type="submit"  value="{{ show_button }}" >
        </form>
      {% endif %}
    </div>
    <div class="text-muted text-right" style="margin-top: 4rem">{{ post_detail.mod_date }}</div>
  </div>


  <div class="col-md-8 card mb-4  mt-3">
    <div class="card-body">
      <h2>{{ comments.count }} comment(s):</h2>
      {% for comment in comments %}
        <div style="margin-top:2em;border:1px dashed;padding:2em;" class="comment-text">
          <blockquote>
            <p>{{ comment.text|safe }}</p>
            <footer>via Commentator:{{ comment.user.username }} in {{ comment.date }}</footer>
            <hr style="border:1px dotted #036" />
            {% for child_comment in comment.children %}
              <blockquote>
                <p>Reply: {{ child_comment.text|safe }}</p>
                <footer>Replied by author in {{ child_comment.date }}</footer>
              </blockquote>
            {% endfor %}
          </blockquote>
          {% if comment.status == False %}
            <button type="submit" ><a href="{% url 'comment:create_c_comment' comment.id %}">Reply</a></button>
          {% else %}
            <form method="POST" style="margin-top: 1.3em;" action="{% url 'comment:create_c_comment' comment.id %}">
              {% csrf_token %}
              {{ comment_form.media}}
              {{ comment_form.as_p }}
              <button type="submit" class="btn btn-primary btn-1g">Reply to the comment</button>
            </form>
          {% endif %}
        </div>
        <hr/>
      {% endfor %}
    </div>
  </div>

  <div class="col-md-8 card mb-4  mt-3 ">
    <div class="card-body">
      <div class="card-body">
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;" action="{% url 'comment:create_comment' post_detail.id %}">
          {% csrf_token %}
          {{ comment_form.media}}
          {{ comment_form.as_p }}
          <button type="submit" class="btn btn-primary btn-1g">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>