<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Category</title>
</head>
<body>
  <h1>{{ category.name }}</h1>
  {% for post_belonged in posts %}
    <h2><a href="{% url 'blog:post_detail' post_belonged.id %}">{{ post_belonged.title }}</a></h2>
    <p>Written by {{ user.username }} on {{ post_belonged.mod_date }}</p>
    {{ post_belonged.body_summary|striptags }}
    <button type="submit"><a href="{% url 'blog:remove_blog' post_belonged.id %}">Remove</a> </button>
    <hr/>
  {% endfor %}
  <button type="submit"><a href="{% url 'blog:categories' category.user_id %}">Back</a></button>
</body>
</html>