{% extends "YYYYbase.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<br/>
<br/>
<div class="container-fluid">
  <div class="card mb-4">
    <div class="card  shadow bg-white">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="security-title">
                <li><span class="badge badge-warning"><i style=" font-family:Kite One;font-size:20px">My Coins:{{ balance }}</i></span></li>
              </div>
            </div>
            <div class="coin-content">
              <div class="coin-inner">
                <div class="coin-record">
                  <div class="coin-title">
                    Coins Record:
                  </div>
                  <div class="table-wrapper">
                    <table class="table-normal">
                      <thead>
                        <tr>
                          <th class="table_1">
                            <div>Time</div>
                          </th>
                          <th class="table_2">
                            <div>Change</div>
                          </th>
                          <th class="table_3">
                            <div>Reason</div>
                          </th>
                          <th class="table_4">
                            <div>Related Question:</div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for operation in operations %}
                      <tr>
                        <td>{{ operation.operated_time }}</td>
                        <td>{{ operation.money }}</td>
                        <td>{{ operation.reason }}</td>
                        <td>{{ operation.related_question.title }}</td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
{% endblock %}
