{% extends "YYbase.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div id="layoutSidenav_content">
  <main>
   <div class="container-fluid">
    <div class="card mb-4">
     {% for content in contents %}
    <div class="card shadow bg-white">
      <div class="card-body">
        <h1 class="card-title"><a href="{% url 'blog:post_detail' content.pk  %}">{{ content.title }}</a></h1>
        {% for user in users %}
          {% if user.id == content.user_id %}
            <p>Author: {{ user.username }}</p>
          {% endif %}
        {% endfor %}
        <p class="card-text">{{ content.body_summary|striptags }}</p>
        <div> {{ content.mod_date }}</div>
      </div>
    </div>
    {% for item1 in img %}
      {% if item1.post_id == content.id %}
        <img src="/media/{{ item1.image }}" height="200" width="300"/>
      {% endif %}
    {% endfor %}
    {% for item2 in video %}
      {% if item2.post_id == content.id %}
        <video src="/media/{{ item2.content }}" height="200" width="300" controls></video>
      {% endif %}
    {% endfor %}
    <hr/>
  {% endfor %}
    </div>
    <div class=" mb-4">
        <div>
             <a type="submit" href="{% url 'blog:post' user.id %}"><button class="btn btn-primary" type="button"><i >Post a blog</i></button></a>
        </div>
    </div>
  </div>

</main>

</div>

{% endblock %}
