{% extends "YYYYbase.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<br/>
<br/>
<div class="container-fluid">
  <div class="card mb-4">
    <div class="card  shadow bg-white">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <br>
              {% if user.profile.avatar %}
              <h2  style=" font-family:Kite One;">My Profile:  <img src="{{ user.profile.avatar.url }}" style="max-width: 13%; border-radius: 50%;" class="col-md-4"></h2>
              {% else %}
              <div class="col-md-4"></div>
              {% endif %}
              <ul>
               <li><span class="badge badge-primary"><i style=" font-family:Kite One;font-size:20px">Coins balance</i></span>: {{ balance }} </li>
               <br/>
                <a href="{% url 'accounts:recharge_coins' user.id %}"><button type="submit" class="btn btn-info">I want to recharge</button></a>
                <a href="{% url 'QA:reward_question' user.id %}"><button type="submit" class="btn btn-warning">I want to post a reward</button></a>
              </ul>
              {% if self_user != user_info %}
              <form method="post" action="{% url 'accounts:profile_account' user_info.id %}">
              {% csrf_token %}
              <input type="submit"  value="{{ show_button }}" >
              </form>
              {% endif %}
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
{% endblock %}
