{% extends "YYYYbase.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<br/>
<br/>
<div class="container-fluid">
  <div class="card mb-4">
    <div class="card  shadow bg-white">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <br>
              {% if user.profile.avatar %}
              <h2  style=" font-family:Kite One;">My Profile:  <img src="{{ user.profile.avatar.url }}" style="max-width: 13%; border-radius: 50%;" class="col-md-4"></h2>
              {% else %}
              <div class="col-md-4"></div>
              {% endif %}
              <br>
              <br>
              <form action="{% url 'accounts:recharge_coins' user.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ recharge_form }}
                <button type="submit" class="btn btn-danger">Recharge</button>
              </form>
              {% if self_user != user_info %}
              <form method="post" action="{% url 'accounts:profile_account' user_info.id %}">
              {% csrf_token %}
              <input type="submit"  value="{{ show_button }}" >
              </form>
              {% endif %}
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
{% endblock %}
