<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Questions</title>
</head>
<body>
  <h1 align="center" style="color:Pink">Open questions</h1>
  <a type="submit" href="{% url 'QA:post_question' user_id %}">Post a blog</a>
  <hr/>
  {% csrf_token %}
  {% for question in questions %}
    <div class="col-md-6">
      <div class="cards">
        <h1 class="card-title"><a href="{% url 'QA:show_question' question.id%}">{{ question.title }}</a></h1>
        <p>Questioner: {{ question.user.username }}</p>
        {% for tag in question.tags.all %}
          <a class="mr-1 badge badge-info">#{{ tag }}</a>
        {% endfor %}
        <p class="mb-auto text-muted"> {{ question.uploaded_at }}</p>
      </div>
    </div>
    <hr/>
  {% endfor %}
</body>
</html>