<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Show question</title>
  <link rel="stylesheet" href="{% static 'code.css' %}">
  <link rel="stylesheet" href="{% static 'tagsinput.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

{% load count_votes %}

<body>
  <nav class=" navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">FreeTechHub</a>
      <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fa fa-bars"></i>
    </button>
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <input class="form-control" type="search" name="q" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item">
        <a class="nav-link"  href="{% url 'QA:questions' %}" >QA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="{% url 'blog:show' %}" >blogs</a>
      </li>
      <li class="nav-item dropdown">
        {% if user.is_authenticated %}
          {% if user.profile.avatar %}
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{{ user.profile.avatar.url }}" style="width:30px; border:30px;">
            </a>
          {% else %}
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-o"></i>
            </a>
          {% endif %}
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <p class="dropdown-item text-warning" href="#">signed in as</p>
            <p class="dropdown-item text-warning" href="#">{{ user.username }}</p>
            <a class="dropdown-item text-warning" href="/account/profile/{{ user.id }}/">
              <i class="fa fa-vcard-o fa-spin text-primary"></i>profile
            </a>
            <a class="dropdown-item text-warning" href="{% url 'accounts:profile_account' user.id %}">
              <i class="fa fa-cog fa-spin text-success"></i>setting
            </a>
            <a class="dropdown-item text-warning" href="{% url 'accounts:coins' user.id %}">
              <i class="fa fa-rmb fa-spin text-info"></i>Your coins: {{ user.coins }}
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-warning" href="{% url 'account_logout' %}">
              <i class="fa fa-power-off text-danger"></i>Logout
            </a>
          </div>
        {% else %}
          <li class="nav-item">
          <a class="nav-link"  href="{% url 'account_login' %}" >login</a>
          </li>
        {% endif %}
      </li>
    </ul>
  </nav>
  <div class="container">
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 style="font-family : 'Fira Code', Impact, sans-serif">
              {{ question.title }}
            </h1>
          </div>
        </div>
      </div>
    </header>
    <p class="mb-auto text-muted"> Asked by {{question.user.username }} at {{ question.uploaded_at }}</p>
    <span class="views-count">Views:{{ question.views }}</span>
    <hr/>
    <p class="mb-auto" >{{ question.body|safe }}</p>
    {% for tag in question.tags.all %}
      <a class="tags" href="{% url 'QA:tag_list' tag.slug %}">#{{ tag }}</a>
    {% endfor %}
    <br/>
    <small>Up:{% get_up_number question_type_id question.id %}</small>
    <small>Down:{% get_down_number question_type_id question.id %}</small>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'question_vote' question.id 'up' %}">Up</a></button>
        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'question_vote' question.id 'down' %}">Down</a></button>
        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'QA:edit_question' question.id %}">Edit</a></button>
        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'QA:delete_question' question.id %}">Delete</a> </button>
        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'QA:questions' %}">Back</a></button>
      </div>
    </div>
    {% if answer_count > 1 %}
      <p>{{ answer_count }} Answers</p>
    {% else %}
      <p>{{ answer_count }} Answer</p>
    {% endif %}
    {% for answer in answers %}
      <p class="mb-auto">{{ answer.content|safe }}</p>
      <footer>Answered by {{ answer.user.username }} in {{ answer.answer_time }}</footer>
      <small>Up:{% get_up_number answer_type_id answer.id %}</small>
      <small>Down:{% get_down_number answer_type_id answer.id %}</small>
      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'answer_vote' answer.id 'up' %}">Up</a></button>
      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'answer_vote' answer.id 'down' %}">Down</a></button>
      <hr/>
    {% endfor %}
    <div class="form-group">
      <form method="POST" action="{% url 'QA:post_answer' question.id%}" class="bs-example form-horizontal">
        {% csrf_token %}
        {{ answer_form|safe }}
        {{ answer_form.media }}
        <br/>
        <button type="submit" class="btn btn-success">Post Your Answer</button><br/>
      </form>
    </div>
    <a href="{% url 'QA:post_question' user_id %}" type="submit" class="btn btn-success">Ask a question</a>
  </div>
</body>
</html>