{% extends "YYbase.html" %}
{% load static %}
{% block head %}
  <meta charset="UTF-8">
  <title>Show rewarded question</title>
  <link rel="stylesheet" href="{% static 'code.css' %}">
  <link rel="stylesheet" href="{% static 'tagsinput.css' %}">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Courgette">
  <link rel="stylesheet"  href="//at.alicdn.com/t/font_1635546_inorz0tgz08.css">
  <link rel="stylesheet"  href="//at.alicdn.com/t/font_1635546_ojnne0v95ze.css">
  <link rel="stylesheet"  href="//at.alicdn.com/t/font_1635546_nrfrqhub98.css">
{% endblock %}
{% block content %}
  <div class="container-fluid">
      <h1 class="text-center" >{{ r_question.title }}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col" ><p >Asked by {{r_question.user.username }} at {{ r_question.uploaded_at }}</p></div>
      <div class="col" >
        {% if r_question.status == False %}
          <p >Status: <span class="badge badge-danger">Unsolved</span></p>
        {% else %}
          <p >Status:<span class="badge badge-success">Solved</span></p>
        {% endif %}
      </div>
      <div class="col" ><p ><i class="iconfont icon-jinbi">coins:{{ r_question.reward_money }}</i> </p></div>
      <div class="col" >
        {% for tag in r_question.tags.all %}
          <a class="text-muted" href="{% url 'QA:tag_list' tag.slug %}"><i class="iconfont icon-biaoqian">{{ tag }}</i></a>
        {% endfor %}
      </div>
      <div class="col" >  <p class="mb-auto"><i class="iconfont icon-note">Note</i>:{{ r_question.note|safe }}</p></div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-body"><p>{{ r_question.body|safe }}</p></div>
    </div>
  </div>


  <div class="container">
    {% if owner_id == user_id %}
      {% if r_question.status == False %}

        <p class="text-right">
          <a type="button" class="btn btn-primary" href="{% url 'QA:edit_r_question' r_question.id %}">Edit</a>
          <a type="button"  class="btn btn-primary" href="{% url 'QA:delete_r_question' r_question.id %}">Delete</a>
          <a type="button"  class="btn btn-primary" href="{% url 'QA:questions' %}">>>Back</a>
        </p>

        <div class="container">
          <div class="card">
            {% if r_answer_count > 1 %}
              <div class="card-body"><h2>{{ r_answer_count }} submitted Answers</h2></div>
            {% else %}
              <div class="card-body"><h2>{{ r_answer_count }} submitted Answer</h2></div>
            {% endif %}
          </div>
        </div>

        {% for r_answer in r_answers %}
          <p class="mb-auto">{{ r_answer.content|safe }}</p>
          <footer>Answered by {{ r_answer.user.username }} in {{ r_answer.answer_time }}</footer>
          <a href="{% url 'QA:accept_answer' r_answer.id %}"><button type="button" class="btn btn-primary">Accept</button></a>
          <hr/>
        {% endfor %}

      {% else %}

        <div class="container-fluid">
            <a type="button" class="btn btn-primary" href="{% url 'QA:questions' %}">>>Back</a>
        </div>
        <hr/>

        {% for r_answer in r_answers %}
          {% if r_answer.status == True %}
            <p class="mb-auto">Accepted answer:</p>
            <p class="mb-auto">Answer:{{ r_answer.content|safe }}</p>
            <footer>Answered by {{ r_answer.user.username }} in {{ r_answer.answer_time }}</footer>
            <hr/>
          {% endif %}
        {% endfor %}

      {% endif %}
  </div>
  
  {% else %}
    <div class="container-fluid">
      <a type="button" class="btn btn-warning" href="{% url 'QA:questions' %}">>>Back</a>
    </div>
    <hr/>
    {% if r_question.status == False %}
      {% if your_answer_count == 0 %}
      <div class="form-group">
          <form method="POST" action="{% url 'QA:post_r_answer' r_question.id%}" class="bs-example form-horizontal">
          {% csrf_token %}
          {{ r_answer_form|safe }}
          {{ r_answer_form.media }}
          <br/>
          <button type="submit" class="btn btn-success">Post Your Answer</button><br/>
          </form>
      </div>
      {% else %}
        {% if new_r_answer_form %}
          <h1 align="center" style="color:Pink">Please edit!</h1>
          <form method="POST" action="{% url 'QA:edit_r_answer' r_answer_id %}" enctype="multipart/form-data" class="bs-example form-horizontal">
          {% csrf_token %}
          {{ new_r_answer_form|safe }}
          {{ new_r_answer_form.media }}
          <button type="submit" class="btn btn-success">Save</button><br/>
          </form>
        {% else %}
          {% for your_answer in your_answers %}
            <p class="mb-auto">{{ your_answer.content|safe }}</p>
            <footer>Answered by {{ your_answer.user.username }} in {{ your_answer.answer_time }}</footer>
            <p class="mb-auto">Status:Unaccepted</p>
            <a type="button" class="btn btn-primary" href="{% url 'QA:edit_r_answer' your_answer.id %}">Edit</a>
            <a type="button" class="btn btn-primary" href="{% url 'QA:delete_r_answer' your_answer.id %}">Delete</a> 
            <hr/>
          {% endfor %}
        {% endif %}
      {% endif %}
      <div class="container">
        <div class="card">
    {% else %}
      {% for r_answer in r_answers %}
        {% if r_answer.status == True %}
          {% if r_answer.user_id == user_id %}
            <p class="mb-auto">Congratulations! Your answer has been accepted</p>
            <p class="mb-auto">Answer:{{ r_answer.content|safe }}</p>
            <footer>Answered by {{ r_answer.user.username }} in {{ r_answer.answer_time }}</footer>
            <hr/>
          {% else %}
            <p class="mb-auto">Accepted answer:</p>
            <p class="mb-auto">Answer:{{ r_answer.content|safe }}</p>
            <footer>Answered by {{ r_answer.user.username }} in {{ r_answer.answer_time }}</footer>
            <hr/>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
  {% endif %}
{% endblock %}
